html,
body {
  height: 100%;
}
html {
  font-size: 100px;
}
body {
  background-color: #f2f2f2;
  font-size: .12rem;
  line-height: .12rem;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
i,
strong,
u {
  font-style: normal;
}
p {
  margin: 0;
  padding: 0;
  line-height: .16rem;
  font-size: .12rem;
}
img {
  vertical-align: middle;
}
input[type=email],
input[type=search],
input[type=text],
input[type=password] {
  margin: 0;
}
input[type=search] {
  text-align: left;
}
/* 头部区域公共样式 */
