html {
  font-size: 100px;
}
body {
  background-color: #f2f2f2;
  font-size: .12rem;
  line-height: .12rem;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: #333333;
}
ul {
  list-style: none;
}
i,
strong,
u {
  font-style: normal;
}
p {
  margin: 0;
  padding: 0;
  line-height: .16rem;
  font-size: .12rem;
}
img {
  vertical-align: middle;
}
input[type=email],
input[type=search],
input[type=text],
input[type=password] {
  margin: 0;
}
input[type=search] {
  text-align: left;
}
/* 头部区域公共样式 */
#header {
  height: .45rem;
  background-color: #ff841d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  box-shadow: 0px 0px 10px 1px #ccc;
}
#header .header_logo {
  height: .25rem;
}
#header .header_app {
  height: .34rem;
}
/* 搜索区域公共样式 */
#search {
  display: flex;
  padding: .05rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px 1px #ccc;
  align-items: center;
}
#search .search {
  flex: 1;
  background-color: #f1f1f1;
  border: 0;
  border-radius: .1rem;
  margin-right: .05rem;
  padding-left: .2rem;
}
#search .search::-webkit-input-placeholder {
  color: #cbcbcb;
}
#search a {
  width: .45rem;
  height: .24rem;
  color: #fff;
  background-color: #ff841d;
  border-radius: .2rem;
  text-align: center;
  line-height: .24rem;
}
/* 导航栏公共样式 */
/* 底部区域公共样式 */
#footer {
  margin-top: .1rem;
}
#footer .register {
  display: flex;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
#footer .register :last-child::after {
  width: 0px;
}
#footer .register a {
  flex: 1;
  text-align: center;
  height: .34rem;
  line-height: .34rem;
  position: relative;
}
#footer .register a::after {
  content: '';
  width: 1px;
  height: .34rem;
  position: absolute;
  right: 0;
  background-color: #ccc;
}
#footer .register a img {
  width: .15rem;
  vertical-align: sub;
  margin-bottom: .01rem;
}
#footer .footer-info {
  text-align: center;
  padding: .1rem 0;
}
html,
body {
  height: 100%;
}
body {
  padding-top: .45rem;
}
#header {
  background-color: #ff4e49;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}
#header a,
#header h4 {
  color: #fff;
}
#main {
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 100%;
}
#main .img {
  height: 2rem;
}
#main .img img {
  height: 100%;
}
#main .content {
  padding: .05rem .2rem;
}
#main #refreshContainer {
  height: 100%;
}
#main .mui-scroll {
  background-color: #fff;
}
#main .mui-scroll .title {
  font-size: .18rem;
  color: #5a5a5a;
  line-height: .24rem;
  text-align: left;
}
#main .mui-scroll h4 {
  color: #ff6c00;
  line-height: .20rem;
  text-align: left;
}
#main .mui-scroll .info {
  color: #999;
  font-size: .12rem;
  line-height: .60rem;
  text-align: left;
  font-weight: normal;
}
#main .mui-scroll .describe {
  font-size: .16rem;
  line-height: .26rem;
  text-align: left;
  color: #606060;
}
#main .mui-scroll .buy {
  margin: .4rem 0 0.7rem;
  width: 100%;
  text-align: center;
  height: .3rem;
  background-color: #ff9000;
  color: #fff;
  font-size: .14rem;
  line-height: 0.3rem;
  border-radius: .04rem;
}
#main .mui-scroll .qr {
  width: 100%;
}
#main .mui-scroll .text p {
  font-size: .16rem;
  color: #333;
  text-align: left;
  margin: .3rem 0 .15rem;
}
#main .mui-scroll .text textarea {
  margin: 0;
}
#main .mui-scroll .text .bottom {
  margin-top: -0.02rem;
  height: .39rem;
  background-color: #fbfbfb;
  border: 1px solid #eceae8;
}
#main .mui-scroll .text .bottom div {
  width: 1rem;
  height: .39rem;
  color: #fff;
  background-color: #ff9000;
  float: right;
  font-size: .16rem;
  line-height: .39rem;
}
#main .mui-scroll .comment {
  margin-top: .25rem;
}
#main .mui-scroll .comment p {
  font-size: .16rem;
  color: #333;
  text-align: left;
}
#main .mui-scroll .comment ul {
  text-align: left;
  margin-top: .15rem;
}
#main .mui-scroll .comment ul li {
  font-size: .14rem;
  line-height: .28rem;
  color: #333;
  border-bottom: 1px solid #ff00ff;
}
