html {
  font-size: 100px;
}
body {
  background-color: #f2f2f2;
  font-size: .12rem;
  line-height: .12rem;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: #333333;
}
ul {
  list-style: none;
}
i,
strong,
u {
  font-style: normal;
}
p {
  margin: 0;
  padding: 0;
  line-height: .16rem;
  font-size: .12rem;
}
img {
  vertical-align: middle;
}
input[type=email],
input[type=search],
input[type=text],
input[type=password] {
  margin: 0;
}
input[type=search] {
  text-align: left;
}
/* 头部区域公共样式 */
#header {
  height: .45rem;
  background-color: #ff841d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  box-shadow: 0px 0px 10px 1px #ccc;
}
#header .header_logo {
  height: .25rem;
}
#header .header_app {
  height: .34rem;
}
/* 搜索区域公共样式 */
#search {
  display: flex;
  padding: .05rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px 1px #ccc;
  align-items: center;
  position: fixed;
  top: .45rem;
  width: 100%;
  z-index: 33;
}
#search .search {
  flex: 1;
  background-color: #f1f1f1;
  border: 0;
  border-radius: .1rem;
  margin-right: .05rem;
  padding-left: .2rem;
}
#search .search::-webkit-input-placeholder {
  color: #cbcbcb;
}
#search a {
  width: .45rem;
  height: .24rem;
  color: #fff;
  background-color: #ff841d;
  border-radius: .2rem;
  text-align: center;
  line-height: .24rem;
}
/* 导航栏公共样式 */
/* 底部区域公共样式 */
#footer {
  margin-top: .1rem;
}
#footer .register {
  display: flex;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
#footer .register :last-child::after {
  width: 0px;
}
#footer .register a {
  flex: 1;
  text-align: center;
  height: .34rem;
  line-height: .34rem;
  position: relative;
}
#footer .register a::after {
  content: '';
  width: 1px;
  height: .34rem;
  position: absolute;
  right: 0;
  background-color: #ccc;
}
#footer .register a img {
  width: .15rem;
  vertical-align: sub;
  margin-bottom: .01rem;
}
#footer .footer-info {
  text-align: center;
  padding: .1rem 0;
}
/* 主体区域 */
body {
  padding-top: .89rem;
}
#header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 33;
}
#search {
  position: fixed;
  top: .45rem;
  width: 100%;
  z-index: 33;
}
#main {
  /* 菜单栏区域 */
  /* 折扣推荐区域 */
  /* 更多优惠信息 */
}
#main .menu {
  padding-top: .2rem;
  background-color: #fff;
  margin-top: .08rem;
  box-shadow: 0px 0px 10px 1px #ccc;
}
#main .menu ul {
  display: flex;
  flex-wrap: wrap;
}
#main .menu ul li {
  width: 25%;
  margin-bottom: .1rem;
}
#main .menu ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main .menu img {
  width: .35rem;
  margin-bottom: .05rem;
}
#main .sale {
  margin-top: .05rem;
}
#main .sale .nav {
  height: .34rem;
  background-color: #ff841d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .1rem;
}
#main .sale .nav a {
  color: #fff;
  font-size: .18rem;
  font-weight: bold;
}
#main .sale .nav img {
  width: .2rem;
}
#main .sale .productList {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
}
#main .sale .productList .litre {
  color: #333;
}
#main .sale .productList .litre .price {
  color: #ff6c00;
}
#main .sale .productList .productRight {
  padding-top: .1rem;
  padding-right: .1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}
#main .sale .productList .productRight .title {
  color: #333;
}
#main .sale .productList .productRight p.productInfo {
  margin-top: .2rem;
  font-size: .12rem;
  position: relative;
}
#main .sale .productList .productRight p.productInfo .comment {
  position: absolute;
  right: 0;
}
#main .sale .productList img {
  width: 1rem;
}
#main .special-offers {
  margin-top: .1rem;
  margin-bottom: .1rem;
}
#main .special-offers a {
  display: block;
  background: #F4F4F4;
  font-size: .13rem;
  text-align: center;
  width: 3.55rem;
  height: .32rem;
  margin: 0 auto;
  line-height: .32rem;
  background-image: linear-gradient(#ffffff, #f4f4f4);
  border-radius: .04rem;
  box-shadow: 0px 0px 1px 0px #ccc;
}
#main .brandRanking {
  margin-top: .05rem;
}
#main .brandRanking .nav {
  height: .34rem;
  background-color: #ff841d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .1rem;
}
#main .brandRanking .nav a {
  color: #fff;
  font-size: .18rem;
  font-weight: bold;
}
#main .brandRanking .nav img {
  width: .2rem;
}
