html {
  font-size: 100px;
}
body {
  background-color: #f2f2f2;
  font-size: .12rem;
  line-height: .12rem;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: #333333;
}
ul {
  list-style: none;
}
i,
strong,
u {
  font-style: normal;
}
p {
  margin: 0;
  padding: 0;
  line-height: .16rem;
  font-size: .12rem;
}
img {
  vertical-align: middle;
}
input[type=email],
input[type=search],
input[type=text],
input[type=password] {
  margin: 0;
}
input[type=search] {
  text-align: left;
}
/* 头部区域公共样式 */
#header {
  height: .45rem;
  background-color: #ff841d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  box-shadow: 0px 0px 10px 1px #ccc;
}
#header .header_logo {
  height: .25rem;
}
#header .header_app {
  height: .34rem;
}
/* 搜索区域公共样式 */
#search {
  display: flex;
  padding: .05rem;
  background-color: #fff;
  box-shadow: 0px 0px 10px 1px #ccc;
  align-items: center;
}
#search .search {
  flex: 1;
  background-color: #f1f1f1;
  border: 0;
  border-radius: .1rem;
  margin-right: .05rem;
  padding-left: .2rem;
}
#search .search::-webkit-input-placeholder {
  color: #cbcbcb;
}
#search a {
  width: .45rem;
  height: .24rem;
  color: #fff;
  background-color: #ff841d;
  border-radius: .2rem;
  text-align: center;
  line-height: .24rem;
}
/* 导航栏公共样式 */
/* 底部区域公共样式 */
#footer {
  margin-top: .1rem;
}
#footer .register {
  display: flex;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
#footer .register :last-child::after {
  width: 0px;
}
#footer .register a {
  flex: 1;
  text-align: center;
  height: .34rem;
  line-height: .34rem;
  position: relative;
}
#footer .register a::after {
  content: '';
  width: 1px;
  height: .34rem;
  position: absolute;
  right: 0;
  background-color: #ccc;
}
#footer .register a img {
  width: .15rem;
  vertical-align: sub;
  margin-bottom: .01rem;
}
#footer .footer-info {
  text-align: center;
  padding: .1rem 0;
}
body {
  padding-top: .85rem;
  padding-bottom: .63rem;
}
/* 头部区域样式 */
#header {
  padding: .09rem .1rem;
  border-bottom: .01rem solid #ccc;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}
#header > div {
  height: 100%;
}
#header .logo {
  margin-right: .2rem;
}
#header .logo h1 {
  height: 100%;
  margin: 0;
  line-height: .26rem;
}
#header .logo h1 a {
  display: block;
  height: 100%;
}
#header .logo h1 a img {
  height: .24rem;
  margin-bottom: .01rem;
}
#header .search form {
  height: .28rem;
  position: relative;
}
#header .search form i {
  position: absolute;
  top: .06rem;
  left: .04rem;
  color: #c8c8c8;
}
#header .search form input {
  padding-left: .2rem;
  height: 100%;
  text-align: left;
  color: #f9f9f9;
  border-radius: .28rem;
  background-color: #f9f9f9;
}
#header .download {
  height: 100%;
  width: .45rem;
  padding-left: .07rem;
  padding-top: .02rem;
}
#header .download a {
  line-height: .20rem;
  width: .38rem;
  display: block;
  border: 1px solid #f85000;
  padding: 0 .06rem;
  border-radius: .20rem;
  font-size: .12rem;
  color: #f85000;
}
/* 顶部导航样式 */
#topNav {
  height: .4rem;
  background-color: #fff;
  border-bottom: .01rem solid #ccc;
  position: fixed;
  z-index: 1;
  top: .45rem;
  left: 0;
  width: 100%;
}
#topNav .content-nav {
  height: 100%;
}
#topNav .content-nav ul {
  height: auto;
  display: flex;
}
#topNav .content-nav ul li {
  padding: 0 .12rem;
}
#topNav .content-nav ul li.active a {
  color: #f85000;
  text-align: center;
}
#topNav .content-nav ul li.active a::before {
  content: '';
  display: block;
  width: .25rem;
  height: .04rem;
  background-color: #f85000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.11rem;
}
#topNav .content-nav ul li a {
  font-size: .15rem;
  font-weight: bold;
  color: #000;
  line-height: .4rem;
  position: relative;
}
/* 主体区域样式 */
#main {
  /* 商品内容区域样式 */
  /* 评论区域样式 */
  /* 库存区域样式 */
}
#main > .content {
  background-color: #fff;
  padding: .04rem .2rem;
}
#main > .content .pic {
  text-align: center;
}
#main > .content .pic img {
  display: inline-block;
  width: 2.01rem;
  height: 2.01rem;
}
#main > .content .info {
  height: .25rem;
  font-size: .12rem;
  color: #999;
  margin: .12rem 0;
}
#main > .content .info span {
  margin-right: .04rem;
}
#main > .content .name {
  margin-top: .1rem;
}
#main > .content .name p {
  line-height: 30px;
  color: #333;
  font-size: 22px;
  text-align: left;
  font-weight: bold;
}
#main > .content .price {
  margin-top: .1rem;
  margin-bottom: .05rem;
}
#main > .content .price p {
  height: 20px;
  color: #f85000;
  line-height: 20px;
  font-size: .18rem;
}
#main > .content .golink {
  margin: .2rem .1rem;
  width: 2rem;
}
#main > .content .golink button {
  width: 1.8rem;
  height: .4rem;
  background-color: #FF9000;
  color: #fff;
}
#main > .content .describe {
  margin-bottom: .4rem;
}
#main > .content .describe p {
  margin: 0;
  font-size: .16rem;
  line-height: .24rem;
  color: #444;
}
#main > .comment .tit {
  height: .33rem;
  padding: .06rem .08rem;
  font-size: .16rem;
  font-weight: bold;
  margin-top: .1rem;
}
#main > .comment textarea {
  margin: 0;
}
#main > .comment .ctrl {
  text-align: center;
  background-color: #fbfbfb;
}
#main > .comment .ctrl .tjdp {
  background-color: #FF9000;
  color: #fff;
  border-color: #FF9000;
}
#main > .comment .list {
  background-color: #fff;
}
#main > .comment .list li {
  padding: .18rem .1rem;
  border-bottom: .01rem solid #ccc;
}
#main > .comment .list li .userimg {
  float: left;
}
#main > .comment .list li .userimg img {
  height: .4rem;
  width: .4rem;
  border-radius: 50%;
}
#main > .comment .list li .con .clearfix {
  display: flex;
  color: #333;
  justify-content: space-between;
  font-size: .12rem;
}
#main > .comment .list li .con .content {
  line-height: 26px;
  font-size: .15rem;
}
#main > .inventory .title {
  height: .33rem;
  padding: .06rem .08rem;
  font-size: .16rem;
  font-weight: bold;
  margin-top: .1rem;
}
#main > .inventory #disstorck {
  background-color: #fff;
}
#main > .inventory #disstorck li {
  line-height: .3rem;
  border-bottom: .01rem solid #ccc;
}
/* 热门推荐样式 */
.recommend {
  margin-top: .1rem;
}
.recommend .title {
  height: .33rem;
  padding: .06rem .08rem;
  font-size: .16rem;
  font-weight: bold;
  margin-top: .1rem;
}
.recommend .product-list .product-content > img {
  height: 1rem;
  width: 1rem;
  float: left;
}
.recommend .product-list .product-content .product-title {
  white-space: normal;
  color: #000;
  font-size: .15rem;
  line-height: .24rem;
}
.recommend .product-list .product-content .product-title span {
  color: #ff6c00;
}
.recommend .product-list .product-content .product-information {
  display: flex;
  justify-content: space-between;
  font-size: .12rem;
  color: #a1a1a1;
  margin-top: .2rem;
}
.recommend .product-list .product-content .product-information .product-comment i {
  font-size: .12rem;
}
/* 底部导航样式 */
#footerNav {
  margin-top: .2rem;
  height: .36rem;
  background: linear-gradient(to bottom, #fff, #ebebeb);
  border-top: .01rem solid #ccc;
  border-bottom: .01rem solid #ccc;
  padding-left: .1rem;
  line-height: .36rem;
  font-size: .14rem;
}
#footerNav a {
  color: #000;
  font-size: .14rem;
}
/* 底部区域样式 */
#footer {
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
}
#footer a {
  display: block;
  width: 100%;
}
#footer a img {
  width: 100%;
}
